# Exploratory Data Analysis

The goal of this notebook is to look for general facts about our data.

In [ ]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt

from sklearn.linear_model import LinearRegression

from google.colab import drive
drive.mount('/content/drive')
drive_dir = '/content/drive/My Drive/Project_3/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv(drive_dir + 'data/promotion_train_data.csv')

#Cleaning Data

In [ ]:
k = df[df['KPIs_met>80%'] == 1]
k[k['awards_won?'] == 1]

              department     region  ... department_num previous_year_rating_norm
66               Finance  region_22  ...              7                       0.0
138           Technology  region_14  ...              3                       0.8
140           Technology  region_29  ...              3                       0.6
200    Sales & Marketing  region_23  ...              1                       0.8
230           Operations  region_13  ...              2                       1.0
...                  ...        ...  ...            ...                       ...
54494        Procurement   region_7  ...              6                       0.8
54503  Sales & Marketing  region_25  ...              1                       0.8
54772         Operations  region_27  ...              2                       1.0
54797  Sales & Marketing  region_11  ...              1                       1.0
54799        Procurement   region_2  ...              6                       1.0

[829 rows x 20 columns]

In [ ]:
df.head()

          department     region  ... department_num previous_year_rating_norm
0  Sales & Marketing   region_7  ...              1                       1.0
1         Operations  region_22  ...              2                       1.0
2  Sales & Marketing  region_19  ...              1                       0.6
3  Sales & Marketing  region_23  ...              1                       0.2
4         Technology  region_26  ...              3                       0.6

[5 rows x 20 columns]

In [ ]:
df = df.drop('employee_id',axis = 1)

In [ ]:
for col in df.columns:
  percent = 100 * df[col].isna().sum() / df.shape[0]
  percent = round(percent,2)
  print(f'{col}: {df[col].isna().sum()} ({percent}%) missing values')

department: 0 (0.0%) missing values
region: 0 (0.0%) missing values
education: 2409 (4.4%) missing values
gender: 0 (0.0%) missing values
recruitment_channel: 0 (0.0%) missing values
no_of_trainings: 0 (0.0%) missing values
age: 0 (0.0%) missing values
previous_year_rating: 4124 (7.52%) missing values
length_of_service: 0 (0.0%) missing values
KPIs_met >80%: 0 (0.0%) missing values
awards_won?: 0 (0.0%) missing values
avg_training_score: 0 (0.0%) missing values
is_promoted: 0 (0.0%) missing values

In [ ]:
df['education'].unique()

array(["Master's & above", "Bachelor's", nan, 'Below Secondary'],
      dtype=object)

In [ ]:
#Replacing NaN instead of dropping b/c I want to keep those rows
df['education'] = df.education.fillna('Unknown')

In [ ]:
df['previous_year_rating'].unique()

array([ 5.,  3.,  1.,  4., nan,  2.])

In [ ]:
#Ratings are 1-5, so 0 will mean employee was not here last year
df['previous_year_rating'] = df.previous_year_rating.fillna(0)

In [ ]:
df.dtypes

department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted               int64
dtype: object

In [ ]:
df.head()

          department     region  ... avg_training_score is_promoted
0  Sales & Marketing   region_7  ...                 49           0
1         Operations  region_22  ...                 60           0
2  Sales & Marketing  region_19  ...                 50           0
3  Sales & Marketing  region_23  ...                 50           0
4         Technology  region_26  ...                 73           0

[5 rows x 13 columns]

In [ ]:
df['starting_age'] = df['age']-df['length_of_service']
df.head()

          department     region  ... is_promoted starting_age
0  Sales & Marketing   region_7  ...           0           27
1         Operations  region_22  ...           0           26
2  Sales & Marketing  region_19  ...           0           27
3  Sales & Marketing  region_23  ...           0           29
4         Technology  region_26  ...           0           43

[5 rows x 14 columns]

In [ ]:
df['total_training_score'] = df['no_of_trainings']*df['avg_training_score']
df.head()

          department     region  ... starting_age total_training_score
0  Sales & Marketing   region_7  ...           27                   49
1         Operations  region_22  ...           26                   60
2  Sales & Marketing  region_19  ...           27                   50
3  Sales & Marketing  region_23  ...           29                  100
4         Technology  region_26  ...           43                   73

[5 rows x 15 columns]

In [ ]:
df = df.rename(columns={'KPIs_met >80%': 'KPIs_met>80%'})

In [ ]:
#based off of percentages of promotion. Lowered older than 40 with 0 rating bc only 11 people
def age_rating(row):
  if row['age'] <= 40 and row['previous_year_rating'] == 0:
    return 10
  elif row['age'] <= 40 and row['previous_year_rating'] == 1:
    return 2
  elif row['age'] <= 40 and row['previous_year_rating'] == 2:
    return 4
  elif row['age'] <= 40 and row['previous_year_rating'] == 3:
    return 7
  elif row['age'] <= 40 and row['previous_year_rating'] == 4:
    return 9
  elif row['age'] <= 40 and row['previous_year_rating'] == 5:
    return 12
  elif row['age'] > 40 and row['previous_year_rating'] == 0:
    return 6
  elif row['age'] > 40 and row['previous_year_rating'] == 1:
    return 1
  elif row['age'] > 40 and row['previous_year_rating'] == 2:
    return 3
  elif row['age'] > 40 and row['previous_year_rating'] == 3:
    return 5
  elif row['age'] > 40 and row['previous_year_rating'] == 4:
    return 8
  else:
    return 11

In [ ]:
def age_KPI(row):
  if row['age'] <= 45 and row['KPIs_met>80%'] == 0:
    return 2
  elif row['age'] <= 45 and row['KPIs_met>80%'] == 1:
    return 4
  elif row['age'] > 45 and row['KPIs_met>80%'] == 0:
    return 3
  else:
    return 1

In [ ]:
df['age_rating'] = df.apply(age_rating, axis=1)

In [ ]:
df['age_KPI'] = df.apply(age_KPI, axis=1)

In [ ]:
df['education_num'] = df['education'].replace(["Bachelor's","Master's & above","Below Secondary","Unknown"],[2,3,1,0])
df['department_num'] = df['department'].replace(['Sales & Marketing', 'Operations', 'Technology', 'Analytics',
       'R&D', 'Procurement', 'Finance', 'HR', 'Legal'],[1,2,3,4,5,6,7,8,9])
df['previous_year_rating_norm'] = (df['previous_year_rating']-df['previous_year_rating'].min())/(df['previous_year_rating'].max()-df['previous_year_rating'].min())

In [ ]:
df.head()

          department     region  ... department_num previous_year_rating_norm
0  Sales & Marketing   region_7  ...              1                       1.0
1         Operations  region_22  ...              2                       1.0
2  Sales & Marketing  region_19  ...              1                       0.6
3  Sales & Marketing  region_23  ...              1                       0.2
4         Technology  region_26  ...              3                       0.6

[5 rows x 20 columns]

#Looking for general facts

In [ ]:
#Rating 0 means they were not there last year
#What do these 8% of people do to get promoted?
for i in df['previous_year_rating'].unique():
  rating_df = df[df['previous_year_rating'] == i]
  total = rating_df.shape[0]
  promoted = rating_df[rating_df['is_promoted'] == 1].shape[0]
  percent = 100*promoted/total
  print(f"Employee's with previous year rating {i} were promoted {percent: .2f}% of the time. ({promoted} out of {total})")

Employee's with previous year rating 5.0 were promoted  16.36% of the time. (1921 out of 11741)
Employee's with previous year rating 3.0 were promoted  7.28% of the time. (1355 out of 18618)
Employee's with previous year rating 1.0 were promoted  1.41% of the time. (88 out of 6223)
Employee's with previous year rating 4.0 were promoted  7.94% of the time. (784 out of 9877)
Employee's with previous year rating 0.0 were promoted  8.22% of the time. (339 out of 4124)
Employee's with previous year rating 2.0 were promoted  4.28% of the time. (181 out of 4225)

In [ ]:
zero_df = df[df['previous_year_rating'] == 0]

In [ ]:
#Looks like average training score is an important factor for promotions
#0 is not promoted
#1 is promoted
for i, group in zero_df.groupby('is_promoted'):
  training_score_mean = group['avg_training_score'].mean()
  print(f"The average training score for {i} with a 0 previous year rating was {training_score_mean}")

for i, group in df.groupby('is_promoted'):
  training_score_mean = group['avg_training_score'].mean()
  print(f"The average training score for all people for {i} rating was {training_score_mean}")

The average training score for 0 with a 0 previous year rating was 62.589696169088505
The average training score for 1 with a 0 previous year rating was 71.929203539823
The average training score for all people for 0 rating was 62.64768647786199
The average training score for all people for 1 rating was 71.32519280205655

In [ ]:
#This seems hand picked
for department,group in df.groupby('department'):
  total = group.shape[0]
  promoted = group[group['is_promoted'] == 1].shape[0]
  perecnt = 100*promoted/total
  print(f"Employees in the {department} department were promoted {percent:.2f}% of the time. ({promoted} out of {total})")

Employees in the Analytics department were promoted 4.28% of the time. (512 out of 5352)
Employees in the Finance department were promoted 4.28% of the time. (206 out of 2536)
Employees in the HR department were promoted 4.28% of the time. (136 out of 2418)
Employees in the Legal department were promoted 4.28% of the time. (53 out of 1039)
Employees in the Operations department were promoted 4.28% of the time. (1023 out of 11348)
Employees in the Procurement department were promoted 4.28% of the time. (688 out of 7138)
Employees in the R&D department were promoted 4.28% of the time. (69 out of 999)
Employees in the Sales & Marketing department were promoted 4.28% of the time. (1213 out of 16840)
Employees in the Technology department were promoted 4.28% of the time. (768 out of 7138)

In [ ]:
#These are not as similar which is good
#Seems like females are being promoted more than males
for department,group in df.groupby('department'):
  male_df = group[group['gender'] == 'm']
  female_df = group[group['gender'] == 'f']
  total_male = male_df.shape[0]
  total_female = female_df.shape[0]
  promoted_male = male_df[male_df['is_promoted'] == 1].shape[0]
  promoted_female = female_df[female_df['is_promoted'] == 1].shape[0]
  percent_male = 100*promoted_male/total_male
  percent_female = 100*promoted_female/total_female
  print(f"Males in the {department} department were promoted {percent_male:.2f}% of the time. ({promoted_male} out of {total_male})")
  print(f"Females in the {department} department were promoted {percent_female:.2f}% of the time. ({promoted_female} out of {total_female})")
  print('='*100)

Males in the Analytics department were promoted 9.30% of the time. (450 out of 4839)
Females in the Analytics department were promoted 12.09% of the time. (62 out of 513)
====================================================================================================
Males in the Finance department were promoted 8.14% of the time. (151 out of 1855)
Females in the Finance department were promoted 8.08% of the time. (55 out of 681)
====================================================================================================
Males in the HR department were promoted 5.52% of the time. (78 out of 1412)
Females in the HR department were promoted 5.77% of the time. (58 out of 1006)
====================================================================================================
Males in the Legal department were promoted 5.28% of the time. (47 out of 890)
Females in the Legal department were promoted 4.03% of the time. (6 out of 149)
====================================================================================================
Males in the Operations department were promoted 8.71% of the time. (581 out of 6671)
Females in the Operations department were promoted 9.45% of the time. (442 out of 4677)
====================================================================================================
Males in the Procurement department were promoted 7.87% of the time. (303 out of 3851)
Females in the Procurement department were promoted 11.71% of the time. (385 out of 3287)
====================================================================================================
Males in the R&D department were promoted 6.69% of the time. (63 out of 942)
Females in the R&D department were promoted 10.53% of the time. (6 out of 57)
====================================================================================================
Males in the Sales & Marketing department were promoted 7.58% of the time. (1037 out of 13686)
Females in the Sales & Marketing department were promoted 5.58% of the time. (176 out of 3154)
====================================================================================================
Males in the Technology department were promoted 11.29% of the time. (491 out of 4350)
Females in the Technology department were promoted 9.94% of the time. (277 out of 2788)
====================================================================================================